nav{
    /* background-color: rgb(200, 240, 175); */
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* text-align: center; */
    /* position: fixed; */
    /* justify-content: space-between; */
}

nav a{
    color: black;
    text-decoration: none;
    margin-right: 5%;
    text-shadow: 2px 1px 4px rgba(150, 150, 150, 1);
}

nav button{
    display: inline;
    border: none;
    background-color: transparent;
    color: black;
    text-shadow: 2px 1px 4px rgba(150, 150, 150, 1);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

nav a:nth-child(1){
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 100vw;
    text-shadow: none;
    flex-grow: 2;
}

@media (orientation: portrait) and (min-width: 410px) {
    nav a{
        font-size: 18px;
        
    }
    nav a:nth-child(1){
        font-size: 22px;      
    }
    nav button{
        font-size: 18px;
        padding-bottom: 2%;
    }
}

@media (orientation: portrait) and (min-width: 768px){
    nav{
        justify-content: space-between;
    }
    nav a{
        margin-left: 1%;
        font-size: 20px;
        line-height: calc(8vh);
        margin-right: 0;
    }
    nav a:nth-child(1){
        font-size: 25px;
        display: inline;
        width: auto;
        margin-left: 0;
    }
    nav button{
        font-size: 20px;
        padding-bottom: 0;
        margin-left: 1%;
    }
}

@media (orientation: portrait) and (min-width: 1024px){
    nav a{
        font-size:25px;
        cursor: pointer;
    }
    nav a:nth-child(1){
        font-size: 30px;
    }
    nav button{
        font-size: 25px;
    }
}

@media (orientation: landscape){
    nav{
        height: 10%;
    }
    nav a{
        margin-right: 0;
        margin-left: 2%;
        line-height: 8vh;
    }
    nav a:nth-child(1){
        margin-left: 0;
        width: auto;
    }
    nav button{
        margin-left: 2%;
    }
}

@media (orientation: landscape) and (min-width: 1024px){
    nav a{
        font-size: 20px;
    }
    nav a:nth-child(1){
        font-size: 30px;
    }
    nav button{
        font-size: 20px;
    }
}

@media (orientation: landscape) and (min-width: 1280px){
    nav a{
        font-size: 25px;
        transition: .3s;
    }
    nav a:nth-child(1){
        font-size: 35px;
    }
    a:hover, nav button:hover{
        color: aquamarine;
        text-shadow: 2px 1px 4px aquamarine
    }
    nav button{
        font-size: 25px;
        transition: .3s;
        cursor: pointer;
    }
}

@media (orientation: landscape) and (min-width: 1440px){
    nav a{
        font-size: 30px;
    }
    nav a:nth-child(1){
        font-size: 40px;
    }
    nav button{
        font-size: 30px
    }
}