.myProjects{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    /* height: 170vh; */
}

.projects{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-around
}

.project{
    height: 20vh;
    width: 80vw;
    text-align: center;
    background-color: aqua;
    margin-bottom: 15px;
    box-sizing: content-box;
}

.project h3{
    margin-top: 5px;
}

.project p{
    margin-top: 5px;
}

.myProjects a{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: aquamarine;
    display: block;
    height: 8vh;
    line-height: 8vh;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 10%;
}

@media (orientation: portrait) and (min-width: 768px){
    .myProjects{
        font-size: 25px;
    }
    .project{
        width: 70%;
    }
}

@media (orientation: portrait) and (min-width: 1024px){
    .myProjects{
        font-size: 30px;
    }
}

@media (orientation: landscape){
    
    .projects{
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project{
        height: 50vh;
        width: 40%;
        text-align: center;
        background-color: aqua;
        /* margin-bottom: 15px; */
    }

    .myProjects a{
        margin-bottom: 5%;
    }
}
@media (orientation: landscape) and (min-width: 1024px){
    .myProjects{
        font-size: 20px;
    }
    .project{
        width: 27%;
        height: 40vh;
        margin-bottom: 10vh;
    }
    .myProjects a{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 5%;
        margin-top: 0;
    }
}
@media (orientation: landscape) and (min-width: 1280px){
    .myProjects{
        font-size: 25px;
    }
}

@media (orientation: landscape) and (min-width: 1440px){
    .myProjects{
        font-size: 30px;
    }
}